{{ $email := promptStringOnce . "email" "What is your git email address" -}}
{{ $user := promptStringOnce . "user" "What is your git username" -}}

[data]
    email = {{ $email | quote }}
    user = {{ $user | quote }}
{{ if (or (.chezmoi.kernel.osrelease | lower | contains "microsoft") (eq .chezmoi.os "darwin") ) }}
[edit]
    command = "code"
    args = ["--wait"]
{{ end }}