[user]
	name = {{ .user }}
	email = {{ .email }}
[core]
	excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
	autocrlf = input
{{- if .isWSL }}
	sshCommand = ssh.exe
{{- end }}
{{- if eq .chezmoi.os "darwin" }}
[diff]
	tool = bc
[merge]
	tool = bc
[mergetool "bc"]
	trustExitCode = true
{{- end }}
{{- if .isWSL }}
[diff]
	tool = bc
[merge]
	tool = bc
[mergetool "bc"]
	trustExitCode = true
	cmd = '/mnt/c/Program Files/Beyond Compare 4/BComp.exe' \"$(wslpath -aw $LOCAL)\" \"$(wslpath -aw $REMOTE)\" \"$(wslpath -aw $BASE)\" \"$(wslpath -aw $MERGED)\"
[difftool "bc"]
	cmd = '/mnt/c/Program Files/Beyond Compare 4/BComp.exe' \"$(wslpath -aw $LOCAL)\" \"$(wslpath -aw $REMOTE)\"
{{- end }}
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
    graph = log --graph --color --pretty=format:"%C(yellow)%H%C(green)%d%C(reset)%n%x20%cd%n%x20%cn%x20(%ce)%n%x20%s%n"
    stat = status -sb
    last = log -1 --stat
    unstage = reset HEAD --
    cached = diff --cached
    d = difftool
[difftool]
	prompt = false
{{- if lookPath "gh" }}
[credential "https://github.com"]
	helper = 
	helper = !{{ lookPath "gh" }} auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !{{ lookPath "gh" }} auth git-credential
{{ end }}