{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
[core]
	sshCommand = ssh.exe
{{   end }}
{{ end }}
[user]
	name = {{ .user }}
	email = {{ .email }}
